.header{
	background: #F7FFF7;
}

body{
	background: #CECCCC;
}

a>img[src*="icon"]{
	width: 30px;
}

.menu{
	background: #343434 !important;
}

.posts{
	background: #C16200;
}

.search{
	background: #0F4C5C;
}

.search-suggested-list{
	width: inherit !important;
}

.icon{
	color: #CECCCC !important;
}