/*=====  Reglas generales  ======*/

body{
	background: #CECCCC;
}

.icon{
		color: #CECCCC !important;
	}


a:hover{
		text-decoration: none;
	}

	/*=====  Encabezado de página  ======*/
	.header{
		background: #F7FFF7;
	}

	.redes{
		max-width: 2.3rem;
	}

	/*=====  Barra de navegación  ======*/

	.menu{
		background: #343434 !important;
	}

	/*=====  Sección de contenido  ======*/

	.posts{
		background: #C16200;
	}

	/*=====  Menú lateral  ======*/

	.search{
		background: #0F4C5C;
	}

	.search-suggested-list{
		width: inherit !important;
	}


	