.header{
	background: #F7FFF7;
}

body{
	background: #CECCCC;
}

.redes{
	max-width: 2.3rem;
}

.menu{
	background: #343434 !important;
}

.posts{
	background: #C16200;
}

.search{
	background: #0F4C5C;
}

.search-suggested-list{
	width: inherit !important;
}

.icon{
	color: #CECCCC !important;
}